<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrx.mybatis.mapper.DynamicSQLMapper">
    <!--int deleteMoreByArray(@Param("integers") Integer[] integers);-->
    <delete id="deleteMoreByArray">
        delete from t_emp where eid in
        <foreach collection="integers" item="s" separator="," open="(" close=")">
            #{s}
        </foreach>
    </delete>

    <!--
    动态sql查询
    List<emp> getEmpByCondition(emp emp);
    -->
    <select id="getEmpByCondition" resultType="emp">
        select * from t_emp
        <where>
            <if test="empName != null and empName != '' ">
                emp_name=#{empName}
            </if>

            <if test="age != null and age != '' ">
                and age=#{age}
            </if>

            <if test="sex != null and sex != '' ">
                and sex=#{sex}
            </if>
        </where>
    </select>

    <select id="getEmpByConditionOne" resultType="emp">
        select * from t_emp where 1=1
        <if test="empName != null and empName != '' ">
            and emp_name=#{empName}
        </if>

        <if test="age != null and age != '' ">
            and age=#{age}
        </if>

        <if test="sex != null and sex != '' ">
            and sex=#{sex}
        </if>
    </select>

</mapper>